@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #EEE3CB;
    --primary-color: #967E76;

}

body {
    background-color: var(--bg-color);
    font-family:var(--font-family);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    
}
h1 {
    font-size: 4em;
    font-weight: 700;
}
h2 {
    font-size: 2.5em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 20px;
}
.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}
.box {
    border: 4px solid var(--primary-color);
    box-shadow: 10px 10px 10px #967E76;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}
.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;

}